@charset "utf-8";
/* CSS Document */

.left-container2 {
   position: absolute;
   width: 40%;
   top: 0;
   height: 100vh;
   left: -30px;
}

.sideNavBar {
   z-index: 2;
   font-size: 30px;
   top: 50%;
   margin-left: 100px;
   transform: translateY(-50%);
   position: absolute;
   user-select: none;
   cursor: pointer;
}

.sideNavBar-items {
   padding: 10px 20px;
   border-width: 15px;
   margin: 15px;
   background-color: rgb(85, 83, 83);
   border-radius: 20px;
   text-align: center;
}
.sideNavBar-items:hover {
   background-color: whitesmoke;
   color: black;
   transform: scale(1.1);
}
.radar-graph {
   right: -15%;
   width: 85vw;
   top: 54%;
   transform: translateY(-50%);
   position: absolute;
   color: blue;
}
.hide {
   display: none;
}
