@charset "utf-8";
/* CSS Document */
#firstPage h1 {
   font-size: 2.75rem;
   padding-bottom: 10px;
}
#firstPage h3 {
   font-size: 1.25rem;
}
.profile-description {
   padding-top: 10px;
   line-height: 2.3rem;
}

.contact-info {
   margin-top: 1.2rem;
   width: inherit;
}

/*End of Page 1*/
.contact-info a {
   color: antiquewhite;
}
.contact-info a:hover {
   color: black;
}
.social-media-container {
   margin: 1rem auto 0 auto;
   width: 50%;
}
.social-media-logo {
   margin: auto 15px;
   width: auto;
   height: auto;
   display: inline-block;
}
.social-media-logo:hover {
   transform: rotate(360deg) scale(1.25);
   transition-duration: 1.5s;
}
