@charset "utf-8";
/* CSS Document */

/*Start of Global Formats*/
* {
   margin: 0;
   box-sizing: border-box;
   text-decoration: none; /*removes underline in <a> tag*/
   list-style: none; /*removes bullet points*/
}
html,
body {
   margin: 0;
   padding: 0;
   position: relative;
   height: 300vh; /*3 pages*/
   width: 100%;
   scroll-behavior: smooth;
}
body {
   overflow-x: hidden;
}
.center {
   margin: auto;
   text-align: center;
}
h1,
h2,
h3 {
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L",
      "Times New Roman", "serif";
}
h4,
p {
   font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h1 {
   font-weight: 900;
}
h3 {
   padding: 10px 0;
}
.highlight {
   color: gold;
}
/*End of Global Formats*/

/*Start of page formatting*/
.page {
   height: 102vh; /*104vh = 104% of viewport height*/
   width: 100vw;
   position: relative;
   margin: 0;
   color: antiquewhite;
}
.main-body {
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 1;
}
#firstPage,
#lastPage {
   background-image: url(../images/background/wood-background.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
#secondPage {
   background-image: url(../images/background/wooden-table-with-laptop.png);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
/*End of page formatting*/
#zj {
   position: absolute;
   height: 150px;
   top: -25%;
   left: 3%;
}
header {
   background-color: #96613d;
   top: 0;
   position: fixed;
   height: 50px;
   width: 100%;
   z-index: 10;
}
nav {
   float: right;
   font-size: 0.8rem;
   margin-right: 3%;
}
nav a {
   color: #d2a56d;
}
.nav-menu {
   padding: 0 25px 0 0; /*adds some space between words*/
   display: inline-block;
   /*Align text centered vertically*/
   line-height: 50px; /*same height as header*/
}

.underline {
   height: 3px;
   text-align: center;
   border-radius: 10px;
   color: black;
   background-color: black;
   bottom: 0;
   transition-timing-function: linear;
   transition-duration: 1s;
}
#download-icon {
   height: 30px;
   width: 30px;
   line-height: 50px; /*same height as header*/
   vertical-align: middle;
}
#download-icon {
   display: inline-block;
}

/*Start of footer*/
footer {
   width: 100%;
   height: 60px;
   background-color: black;
   color: white;
   overflow: hidden;
   /*Makes footer stay at bottom of last page*/
   position: absolute;
   z-index: 1;
}
.copy-right {
   display: inline-block;
   width: 50%;
   line-height: 60px; /*same as footer height*/
   vertical-align: middle;
   position: inherit;
   left: 0;
   padding-left: 30px;
}
.social-media-logo-container {
   position: inherit;
   margin: 10px 0;
   right: 0;
   width: 250px;
   text-align: center;
}
/*End of footer*/
