@charset "utf-8";
/* CSS Document */

/*Start of Last Page*/
.lastPageTitle {
   padding: 15px 0 0 0;
   margin-top: 55px;
   width: inherit;
   text-align: center;
}

/*End of Last Page*/

/* .personal-project-container {
   margin: 0 5%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 0.75em;
}
.each-project {
   background-color: brown;
   border-radius: 10px;
   height: 35vh;
   user-select: none;
   cursor: pointer;
}
.each-project:hover {
   filter: brightness(1.25);
} */
