@charset "utf-8";
/* CSS Document */

/*Start of Global Formats*/
*{
	margin: 0;
	box-sizing: border-box;
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 1.75rem;
}
h3{
	font-size: 1.25rem;
}
html, body{
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
}
/*End of Global Formats*/

/*Start of page formatting*/
.main-container{
	height: 300%; /* 100*No. f Pages */
}
.page{
	height: 33.33%; /* 100/No. of Pages */
	width: inherit;
	position: relative;
	margin: 0;
	background-color: #c2bdbd; /*cover blank spots of bg picture*/
	overflow: hidden; /*removes white background on page*/
}
.page main{
	margin-top: 70px; /*height of nav bar + 20px*/
}
#firstPage{
	height: 33.33%;
	width: inherit;	
	background-image: url(../images/scenery-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: black;
}
#secondPage{
	background-image: url(../images/about-bg-3.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#lastPage{
	background-color: #6F6A6A;
}
/*End of page formatting*/


/*Start of fixed position formats*/
header{
	height: 50px;
	width: 100%;
	background-color: #968C8C;
	/*Makes it always stay at top of page*/
	position: fixed;
	top: 0;
	z-index: 1;
}
header ul{
	height: inherit;
	width: 96%;
	position: inherit;
	list-style: none; /*removes bullet points*/
	margin-right: 2%;
	margin-left: 2%;
}
header li{
	padding: 0 15px; /*adds some space between words*/
	display: inline-block;

	/*Align text centered vertically*/
	line-height: 50px; /*same height as header*/
	vertical-align: middle;
}
#siteHeading{
	height: inherit;
	display: inline-block;
	left: 0;
}
.navBar{
	height: inherit;
	/*prevents navbar from going to next line when window minimised*/
	right: 0;
	top: 0;
	display: inline-block;
	position: absolute;
	
}
.navBar a{
	text-decoration: none;
	color: black;
}
.navBar a:hover{
	color: antiquewhite;
}

/*End of fixed position formats*/


/*Start of Page 1*/
#contact-pic, #profile-description{
	/*centers the image & text*/
	width: inherit;	
	text-align: center; 
}
#profile-description{
	margin-top: 10px;
	line-height: 2.25rem;
}
.social-media-container{
	margin: 2rem auto 0 auto;
	height: 50px;
	width:	50%;
	text-align: center;
}
.social-media-container a{
	text-decoration: none;
}
.social-media-logo{
	margin: auto 15px;
}
.contact-info{
	margin: 2rem auto;
	width: inherit;
	text-align: center;
	background-color: grey;
	line-height: 0.75rem;
}
/*End of Page 1*/



/*Start of Page 2*/
#firstPage h2{
	padding-left: 15%;
	padding-top: 10%
}

/*End of Page 2*/



/*Start of Last Page*/
/*End of Last Page/


/*Start of footer*/
footer{
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
	/*Makes footer stay at bottom of last page*/
	position: absolute;
	bottom: 0;
}
footer ul{
	height: inherit;
	width: 100%;
	list-style: none;
}
footer li{
	height: inherit;
	display: inline-block;
	line-height: 60px; /*same as footer height*/
	vertical-align: middle; 
}

/*End of footer*/


