@charset "utf-8";
/* CSS Document */

/*Start of Global Formats*/
*{
	margin: 0;
	box-sizing: border-box;
	text-decoration: none; /*removes underline in <a> tag*/
}
html, body{
	margin: 0;
	padding: 0;
	position: relative;
	height: 300vh;
	width: 100%;
}
.center{
	margin: auto;
	text-align: center;
}
h1, h2, h3{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
h4, p{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h1{
	font-weight: 1000;
}
h2{
	
}
h3{
	padding: 10px 0;
}
h4{
	
}
/*End of Global Formats*/


/*Start of page formatting*/
.page{
	height: 100vh; /*100vh = 100% of viewport height*/
	width: 100%;
	position: relative;
	margin: 0;
	overflow: hidden;
}
main{
	margin-top: 50px; /*height of header*/
	height: 100%;
	width: inherit;
	position: absolute;
	z-index: 1;
}
#firstPage{
	background-color: #333;
	color: antiquewhite;
}
/*pseudo element*/
#firstPage::after{
	top: 0;
	height: 100vh;
	/*needed to make ::after work work*/
	content: ''; /*empty content*/
	display: block;
	/*Background Image styles*/
	background-image: url(../images/scenery-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.6;
	filter: blur(10px);
}
#secondPage{
	background-color: #514F4F;
	color: antiquewhite;
}
#secondPage::after{
	top: 0;
	height: 100vh;
	content: '';
	display: block;
	opacity: 0.2;
	background-color: antiquewhite;
	filter: blur(10px);
}
#lastPage{
	background-color: #333;
	color: antiquewhite;
}
#lastPage::after{
	top: 0;
	height: 100vh;
	content: '';
	display: block;
	opacity: 0.3;
	background-color: black;
	filter: blur(10px);
}
/*End of page formatting*/


/*Start of header*/
header{
	height: 50px;
	width: inherit;
	background-color: #968C8C;
	/*Makes it always stay at top of page*/
	position: fixed;
	top: 0;
	z-index: 2;
}
header ul{
	height: inherit;
	width: inherit;
	list-style: none; /*removes bullet points*/
}
header li{
	padding: 0 15px 0 0; /*adds some space between words*/
	display: inline-block;
	/*Align text centered vertically*/
	line-height: 50px; /*same height as header*/
	vertical-align: middle;
}
#siteHeading{
	height: inherit;
	display: inline-block;
	left: 0;
}
.navBar{
	height: inherit;
	/*prevents navbar from going to next line when window minimised*/
	right: 0;
	display: inline-block;
	position: absolute;
	margin-right: 30px;
}
.navBar a{
	color: black;
}
.navBar a:hover{
	color: whitesmoke;
}

/*End of header*/

/*Start of footer*/
footer{
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
	overflow: hidden;
	/*Makes footer stay at bottom of last page*/
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.copy-right{
	display: inline-block;
	width: 50%;
	line-height: 60px; /*same as footer height*/
	vertical-align: middle;
	position: inherit;
	left: 0;
	padding-left: 30px;
}
.social-media-logo-container{
	position: inherit;
	margin: 10px 0;
	right: 0;
	width: 250px;
	text-align: center;
}
/*End of footer*/


