@charset "utf-8";
/* CSS Document */

/*Start of Last Page*/
.lastPageTitle{
	padding-top: 15px;
	width: inherit;
	text-align: center;
}




/*End of Last Page*/


.radar-graph{
	width: 75vw;
	height: 100vh;
}

.hide{
	display: none;
}